.header-content {
  @include flex-start-between;
  @include flex-wrap;

  &__top {
    @include flex-center-between;
    flex: 0 1 100%;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 9px;
    }
  }

  &__content {
    @include flex-start-between;
    flex: 0 1 100%;

    > * {
      &:not(&:last-child) {
        margin-right: var(--indent-large);
      }
    }

    @include small-tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: wrap;

      > * {
        width: 100%;
        &:not(&:last-child) {
          margin-right: 0;
          margin-bottom: var(--indent-medium);
        }
      }
    }
  }

  &__products {
    flex: 0 1 auto;

    @include medium-tablet {
      flex: 0 0 240px;
    }

    @include mobile {
      flex: 0 1 100vw;
    }
  }
}
