.header-products {
  @include flex;
  @include flex-wrap;
  overflow: hidden;

  @include medium-tablet {
    justify-content: flex-end;
    //flex-wrap: nowrap;
  }

  &__item {
    @include flex-all-center;
    text-decoration: none;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    margin-bottom: var(--indent-medium);

    &:not(&:nth-last-child(1)) {
      margin-right: var(--indent-medium);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
