.top-menu {
  @include medium-tablet {
    display: none;
    position: fixed;
    top: 60px;
    width: calc(100% - (var(--container-offset) * 2));
    height: calc(100% - 60px) !important;
    background-color: var(--color-white);
    z-index: 99;

    &._show {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    @include flex-center-start;
    @include flex-wrap;

    @include medium-tablet {
      flex-wrap: nowrap;
      width: 100%;
      flex: 0 1 auto;
      overflow-x: auto;
      padding: 10px 0 120px 0;
      flex-direction: column;
    }
  }

  &__item {
    padding-bottom: var(--indent-small);

    &:not(&:nth-last-child(1)) {
      margin-right: 25px;

      @include medium-tablet {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    @include transition-o;
    @include black-color;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    @include medium-tablet {
      font-size: 14px;
    }
  }
}
