.userbox {
  @include medium-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
  }

  &__link {
    @include inline-flex;
    @include flex-align-center;
    @extend .top-menu__link;

    &:not(&:nth-last-child(1)) {
      &::after {
        content: "|";
        margin: 0 12px;

        @include medium-tablet {
          display: none;
        }
      }
    }

    @include medium-tablet {
      padding: var(--indent-medium) 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}
