.region-btn {
  @include inline-flex;
  @include flex-align-center;

  &__text {
    border-bottom: 1px dotted currentColor;
  }

  &::before {
    content: "";
    width: 7px;
    height: 7px;
    margin-right: 5px;
    background-image: url("@img/ico/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    opacity: 0.7;
  }
}
